[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
softwarecollections = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
manage = "python -Wmodule -Wignore:'__class__ not set defining' -Wignore:\"'U' mode\" manage.py"
